{% extends 'base.html' %}
{% block title %}Panel główny{% endblock %}
{% block current_page %}Dashboard{% endblock %}
{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
    </div>

{% endblock %}