{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platforma Monitoringu | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static '/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="card">
        <div class="card-body login-card-body">
            <img src="{% static 'img/warbud_platforma_monitoringu.png' %}" class="img-fluid"
                 alt="Platforma Monitoringu">
            <p class="login-box-msg mt-3">Zaloguj się do Platformy podając swój login i hasło</p>
            <form action="{% url 'login' %}" method="post" id="warbud_login">
                <div class="input-group mb-3">
                    {{ form.username }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form.password }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    <div class="alert alert-danger">
                        <h5><i class="icon fas fa-ban"></i>Błąd logowania</h5>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="d-flex justify-content-center row">
                    {#                    Narazie komentuję guzik 'Zapamiętaj mnie'#}
                    {#                    <div class="col-8">#}
                    {#                        <div class="icheck-primary">#}
                    {#                            <input type="checkbox" id="remember">#}
                    {#                            <label for="remember">#}
                    {#                                Remember Me#}
                    {#                            </label>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <!-- /.col -->
                    <div class="col-4">
                        {% csrf_token %}
                        <input type="hidden" name="text" value="{{ next }}" />
                        <button type="submit" class="btn btn-primary btn-block mt-3">ZALOGUJ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/js/adminlte.min.js' %}"></script>
</body>
</html>
