{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Platforma Monitoringu | Wylogowano</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static '/css/adminlte.min.css' %}">
</head>
<body class="login-page">
<div class="login-box">
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title"><i class="icon fas fa-check mr-2"></i>Wylogowano</h3>
        </div>
        <div class="card-body">
            Twoja sesja w Platformie została pomyślnie zakończona.
        </div>
        <div class="card-footer">
            <a href="{% url 'login' %}">Zaloguj się</a> ponownie.
        </div>
    </div>
</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
